<ion-view title="Login" id="page2">
    <ion-content padding="true" class="has-header">
        
        <form class="list">
            <ion-list>
                <label class="item item-input">
                     <input type="text" placeholder="Mobile Number" >
                </label></br>
                <label class="item item-input">
                     <input type="text" placeholder="Password" >
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="settings"  id="register-button3" class="button button-positive  button-block" >Submit</a>
            <a ui-sref="register"  id="login-button2" class="button button-positive  button-block button-clear">Forget Password</a>
            <a ui-sref="login" id="login-button2" class="button button-positive  button-block button-clear">New Registration</a>
        </form>
    </ion-content>
</ion-view>
